/* Navigation bar styles */
nav {
  background-color: #352f69;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #368b84;
}

/* Active link styles */
nav a.active {
  background-color: #777;
}


/* Application form style */

/* Form container */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form title */
.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Form labels */
.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

/* Form inputs */
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Textarea */
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 15px;
  resize: vertical;
}

/* Submit button */
.form-submit {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: #45a049;
}

